/* ==========
root part
========== */

:root {
  --main-color: #12372a;
  --secondary-color: #436850;
  --heading-color: #adbc9f;
  --paragraph-color: #fbfada;
  --hover-color: hsla(0, 0%, 0%, 0.2);
  --slider-hover: hsla(0, 0%, 0%, 0.5);
  --gallery-hover:hsla(159, 52%, 14%, 0.796);
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --hading-size: 36px;
  --paragraph-size: 20px;
  --secondary-size: 26px;
}

/* ==============
common css start 
============== */

* {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.full-wrapper {
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* ==============
common css ends 
============== */

/* ==============
nav bar
=============== */
/* nav bar */
nav {
  width: 100%;
  height: 100px !important;
  line-height: 0px !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: hsla(0, 0%, 0%, 0.50) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: all linear 0.5;
  -moz-backdrop-filter: all linear 0.5;
  -ms-backdrop-filter: all linear 0.5;
  -o-backdrop-filter: all linear 0.5;
}

#nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#nav .nav-bg {
  width: 100%;
  height: 100%;
  /* background-color: #436850; */
}
#nav .nav-bg ul {
  display: flex;
  /* line-height: 100px; */
  justify-content: space-around;
  width: 60%;
}
#nav .nav-bg ul li {
  line-height: 40px !important;
}
#nav .nav-bg ul li a {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--paragraph-color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  padding: 5px 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* #nav .nav-bg{
    display: flex;
} */
#nav .nav-bg ul li:hover a {
  background-color: var(--paragraph-color);
  color: var(--main-color);
}
#nav .nav-bg {
  display: flex;
  justify-content: space-between;
}
#nav .nav-bg button {
  padding: 0 15px;
  border-radius: 50px;
  line-height: 40px;
  height: 45px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--paragraph-color);
  cursor: pointer;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 14px;
  display: flex;
}
#nav .nav-bg button i {
  font-size: 20px;
  line-height: 40px;
}
#nav .nav-bg .search {
  display: flex;
  margin: 0 10px;
  line-height: 40px;
  /* width: 100px; */
}
#nav .nav-bg .search input {
  background-color: transparent;
  /* border: var(--paragraph-color); */
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--paragraph-color);
}
#nav .nav-bg .search i {
  font-size: 25px;
  color: var(--paragraph-color);
  line-height: 40px;
  margin-left: 10px;
}
#nav .logo-bg {
  width: 20%;
  height: 100%;
  /* background-color: aqua;  */
}
#nav .logo-bg img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* ==============
nav bar
=============== */

/* ==============
banner
=============== */
.banner-bg {
  height: 100vh;
  background: url(../images/Image_20240228102940.jpg) no-repeat center / cover;
  z-index: 9;
  position: relative;
  /* margin-bottom: 100px; */
  background-attachment: fixed;
}
.banner-bg::after {
  content: "";
  background: var(--hover-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.banner-bg .banner {
  height: 700px;
  z-index: 1;
  padding-top: 200px;
}
.banner-bg .banner .banner-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.banner-bg .banner .banner-item .text {
  width: 65%;
}
.banner-bg .banner .banner-item .text span {
  font-size: var(--secondary-size);
  color: var(--paragraph-color);
  font-family: var(--secondary-font);
  font-weight: 400;
}
.banner-bg .banner .banner-item .text h1 {
  font-size: var(--hading-size);
  color: var(--heading-color);
  font-family: var(--main-font);
  font-weight: 700;
}
.banner-bg .banner .banner-item .text p {
  font-family: var(--secondary-font);
  color: var(--paragraph-color);
  font-size: 12px;
  font-weight: 300;
  padding-right: 30%;
}
.banner-bg .banner .banner-item .text button {
  font-family: var(--secondary-font);
  font-size: var(--paragraph-size);
  background-color: var(--paragraph-color);
  color: var(--main-color);
  border: 2px solid var(--heading-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 400;
  padding: 5px 15px;
  margin-top: 30px;
  cursor: pointer;
}
.banner-bg .banner .banner-item .text button i {
  font-size: 30px;
  /* margin-top: 10px; */
}
.banner-bg .banner .banner-item .img {
  width: 30%;
}
.banner-bg .banner .banner-item .img .img-item {
  background-color: var(--secondary-color);
  width: 400px;
  height: 400px;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}
.banner-bg .banner .banner-item .img .img-item img {
  margin-left: 25px;
  margin-top: 29px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}
.banner-bg .banner .explore-new {
  width: 100%;
  height: auto;
  /* background-color: aliceblue; */
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-bg .banner .explore-new label {
  font-family: var(--secondary-font);
  font-size: var(--paragraph-size);
  font-weight: 400;
  color: var(--paragraph-color);
}
.banner-bg
  .banner
  .explore-new
  .search-new
  .banner-bg
  .banner
  .explore-new
  .search-item {
  width: 100%;
}
.banner-bg
  .banner
  .explore-new
  .search-new
  .banner-bg
  .banner
  .explore-new
  .search-item
  input[type="text"] {
  padding: 10px 200px;
  width: calc(100% - 200px);
}

/* ==============
banner
=============== */
/* =============
content
============== */
#content-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../images/background/bg3.png") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 0.5s;
  background-attachment: fixed;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 1;
}
#content-bg::after {
  content: "";
  background: var(--slider-hover);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
#content-bg .content {
  position: relative;
  max-width: 550px;
  display: none;
  visibility: hidden;
  display: none;
  transform: scale(0);
  transition: 0.5;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}
#content-bg .active {
  display: block;
  visibility: visible;
  transform: scale(1);
  transition: 0.5;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}
#content-bg .content .content-title {
  max-width: 250px;
}
#content-bg .content h4 {
  color: var(--heading-color);
  font-weight: 400;
  font-family: var(--main-font);
  font-size: var(--secondary-font);
}
#content-bg .content h4 span {
  padding: 0 10px;
  border-right: 1px solid var(--heading-color);
}
#content-bg .content h4 span:first-child {
  padding-right: 0;
}
#content-bg .content h4 span:last-child {
  border-right: none;
}
#content-bg .content h4 span i {
  background: var(--main-color);
  color: var(--paragraph-color);
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
#content-bg .content p {
  font-size: var(--paragraph-size);
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 40px;
  margin: 10px 0 20px;
  color: var(--paragraph-color);
}
#content-bg .content .button {
  position: relative;
}
#content-bg .content .button a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: var(--main-color);
  color: var(--paragraph-color);
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 400;
  font-family: var(--main-font);
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0, 5;
  -webkit-transition: 0, 5;
  -moz-transition: 0, 5;
  -ms-transition: 0, 5;
  -o-transition: 0, 5;
  cursor: pointer;
}
#content-bg .content .button a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all linear 0.5;
  -webkit-transition: all linear 0.5;
  -moz-transition: all linear 0.5;
  -ms-transition: all linear 0.5;
  -o-transition: all linear 0.5;
}
#content-bg .content .button a:hover:nth-child(2) {
  background: var(--main-color);
}
#content-bg .carousel-box {
  position: relative;
  min-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: all linear 0.5;
  -moz-backdrop-filter: all linear 0.5;
  -ms-backdrop-filter: all linear 0.5;
  -o-backdrop-filter: all linear 0.5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#content-bg .carousel-box .carousel {
  position: relative;
  height: 550px;
  perspective: 1500;
}
#content-bg .carousel-box .carousel .carousel-item {
  width: 250px;
  cursor: pointer;
}
#content-bg .carousel-box .carousel .carousel-item img {
  max-width: 235px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateX(8px) translateY(-100px);
  -webkit-transform: translateX(8px) translateY(-100px);
  -moz-transform: translateX(8px) translateY(-100px);
  -ms-transform: translateX(8px) translateY(-100px);
  -o-transform: translateX(8px) translateY(-100px);
  object-fit: cover;
  object-position: center;
}
/* #content-bg .carousel-box .paly{
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--paragraph-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--main-font);
  letter-spacing: 1px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#content-bg .paly i{
  margin-right: 10px;
  font-size: 40px;
  cursor: pointer !important;
} */
/* =============
content
============== */
/* =============
gallery-item
=============== */
.gallery-bg {
  /* width: 100%; */
  height: 100vh;
}
.gallery-bg header {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-bg header h1{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--hading-size);
  color: var(--main-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.gallery-bg header p{
  font-family: var(--secondary-font);
  font-weight: 400;
  padding: 0 200px;
  color: var(--heading-color);
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.gallery-bg .gallery-item {
  width: 25%;
  float: left;
  position: relative;
  overflow: hidden;
}

.gallery-bg .gallery-item img {
  width: 100%;
}

.gallery-bg .gallery-item .gallery-overlay {
  width: 100%;
  height: 100%;
  background: var(--gallery-hover);
  position: absolute;
  top: -100%;
  left: 0;
  transition: all linear 0.4px;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

.gallery-bg .gallery-item:hover .gallery-overlay {
  top: 0;
  left: 0;
}

.gallery-bg .gallery-item .gallery-overlay .gallery-text {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-bg .gallery-item .gallery-overlay h3 {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 14px;
}

.gallery-bg .gallery-item .gallery-overlay p {
  text-transform: capitalize;
  font-family: var(--secondary-font);
  padding-top: 10px;
  font-size: 14px;
}
/* =============
gallery-item
=============== */
