/* ==========
root part
========== */

:root {
   --main-color:#12372A;
   --secondary-color:#436850;
   --heading-color:#ADBC9F;
   --paragraph-color:#FBFADA;
   --hover-color:hsla(0, 0%, 0%, 0.20);
   --main-font:'Open Sans', sans-serif;
   --secondary-font:'Oswald', sans-serif;
   --hading-size:36px;
   --paragraph-size:20px;
   --secondary-size:26px;
}


/* ==============
common css start 
============== */

* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.full-wrapper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* ==============
common css ends 
============== */

/* ==============
nav bar
=============== */
/* nav bar */
nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#nav {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0; 
}

#nav .nav-bg{
    width: 100%;
    height: 100%;
    /* background-color: #436850; */
}
#nav .nav-bg ul{
    display: flex;
    line-height: 75px;
    justify-content: space-around;
}
#nav .nav-bg ul li a{
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--paragraph-color);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    padding: 5px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#nav .nav-bg ul li a:hover{
    background-color: var(--paragraph-color);
    color: var(--main-color);
}
#nav .logo-bg{
    width: 20%;
    height: 100%;
    /* background-color: aqua;  */
}
#nav .logo-bg img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/* ==============
nav bar
=============== */

/* ==============
banner
=============== */
.banner-bg {
    height: 100vh;
    background: url(../images/Image_20240228102940.jpg) no-repeat center / cover;
    z-index: 1;
    position: relative;
    margin-bottom: 100px;
    background-attachment: fixed;
}
.banner-bg::after {
    content: '';
    background: var(--hover-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.banner-bg .banner {
    height: 700px;
    z-index: 1;
}
/* ==============
banner
=============== */